In [27]:
import pandas as pd
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [28]:
#df = pd.read_csv("Automobile_data.csv")
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Automobile_data.csv',dtype=str)
df.head(10)

  index      company   body-style  ... horsepower average-mileage  price
0     0  alfa-romero  convertible  ...        111              21  13495
1     1  alfa-romero  convertible  ...        111              21  16500
2     2  alfa-romero    hatchback  ...        154              19  16500
3     3         audi        sedan  ...        102              24  13950
4     4         audi        sedan  ...        115              18  17450
5     5         audi        sedan  ...        110              19  15250
6     6         audi        wagon  ...        110              19  18920
7     9          bmw        sedan  ...        101              23  16430
8    10          bmw        sedan  ...        101              23  16925
9    11          bmw        sedan  ...        121              21  20970

[10 rows x 10 columns]

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [29]:
df.drop('index' , axis = 'columns' , inplace = True)

In [30]:
df.head(10)

       company   body-style wheel-base  ... horsepower average-mileage  price
0  alfa-romero  convertible       88.6  ...        111              21  13495
1  alfa-romero  convertible       88.6  ...        111              21  16500
2  alfa-romero    hatchback       94.5  ...        154              19  16500
3         audi        sedan       99.8  ...        102              24  13950
4         audi        sedan       99.4  ...        115              18  17450
5         audi        sedan       99.8  ...        110              19  15250
6         audi        wagon      105.8  ...        110              19  18920
7          bmw        sedan      101.2  ...        101              23  16430
8          bmw        sedan      101.2  ...        101              23  16925
9          bmw        sedan      101.2  ...        121              21  20970

[10 rows x 9 columns]

In [31]:
df.tail(5)

       company body-style wheel-base  ... horsepower average-mileage  price
56  volkswagen      sedan       97.3  ...         85              27   7975
57  volkswagen      sedan       97.3  ...         52              37   7995
58  volkswagen      sedan       97.3  ...        100              26   9995
59       volvo      sedan      104.3  ...        114              23  12940
60       volvo      wagon      104.3  ...        114              23  13415

[5 rows x 9 columns]

In [32]:
o1 = df.groupby('company')
toyotaDf = o1.get_group('toyota')
toyotaDf

   company body-style wheel-base  ... horsepower average-mileage  price
48  toyota  hatchback       95.7  ...         62              35   5348
49  toyota  hatchback       95.7  ...         62              31   6338
50  toyota  hatchback       95.7  ...         62              31   6488
51  toyota      wagon       95.7  ...         62              31   6918
52  toyota      wagon       95.7  ...         62              27   7898
53  toyota      wagon       95.7  ...         62              27   8778
54  toyota      wagon      104.5  ...        156              19  15750

[7 rows x 9 columns]

In [33]:
df['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
volkswagen       4
audi             4
mercedes-benz    4
mitsubishi       4
chevrolet        3
isuzu            3
alfa-romero      3
honda            3
jaguar           3
porsche          3
volvo            2
dodge            2
Name: company, dtype: int64

In [34]:
car_Manufacturers = df.groupby('company')
priceDf = car_Manufacturers['company','price'].max()
priceDf

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

ValueError: ignored

In [35]:
car_Manufacturers = df.groupby('company')
mileageDf = car_Manufacturers['company','average-mileage'].mean()
mileageDf

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

DataError: ignored

In [36]:
carsDf = df.sort_values(by = ['price'])
carsDf.head(5)

   company body-style wheel-base  ... horsepower average-mileage  price
20   honda      sedan       96.5  ...        100              25  10345
30   mazda  hatchback       95.3  ...        101              17  11845
59   volvo      sedan      104.3  ...        114              23  12940
19   honda      sedan       96.5  ...        101              24  12945
60   volvo      wagon      104.3  ...        114              23  13415

[5 rows x 9 columns]